* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 96, 86);
    padding: 10px;
}

#settings {
    width: 750px;
}

#containerMargin {
    padding: 10px;
    background-color: rgb(195 94 86);
    border-radius: 5px;
}

#container {
    background-color: beige;
    display: grid;
    width: 800px;
    height: 800px;
    box-shadow: 2px 2px 10px 5px grey inset;
    user-select: none;
    border-radius: 3px;
}

.box {
    width: auto;
    height: auto;
    margin: 0px;
}

#settings {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(2, 0.20fr);
    grid-row: 1 / span 3;
    grid-gap: 0.5rem
}    

button {
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    background-color: bisque;
    font-size: 1.2rem;
    width: 140px;
    height: 35px;
}

button:hover {
    background-color: rgba(245, 245, 245, 0.76);
    color: rgb(27, 27, 231);
}

